.password-field-container{
    width : 30rem;
}

.input-field{
    padding : 0.5rem;
}

.input-field-icon{
    /* border : 3px solid red;  */
}

.password-flex-grow{
    flex-grow: 1;
}


.input-field-icon-container-height{
    height : 100%;
}

.input-field-icon{
    /* padding : 0.5rem; */
    font-size: 15px;
    padding : 0 0.8rem;
}