.single-page-video-container{
    width : 70%;
    height : 45rem;
}

.single-video-desc-container{
    width : 60%;
}

.single_page-video{
    width : 100%;
    height : 100%;
    border : 3px solid black;
}

.single-video-contanier{
    width : 70%;
    height : 45rem;
}