.playlist-card-container{
    width : 30rem;
}

.playlist-thumbnail-container{
    width: 100%;
    height: 15rem;
    position : relative;
}

.playlist-overlay-container{
    position : absolute;
    width : 15rem;
    height : 100%;
    left : 50%;
    top : 0;
    right : 0;
    bottom : 0;
    background: rgba(0, 0, 0, 0.6);
}

.playlist-desc{
    padding : 1rem;
}

.playlist-desc p{
    font-family: var(--component-heading-font);
}

.empty-playlist-container{
    width : 100%;
    height : 100%;
}