.modal-overlay-container{
    background: rgba(0, 0, 0, 0.069);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    position: fixed;
    top: 0;
    left : 0;
    justify-content: center;
    grid-gap: 1rem;
    gap: 1rem;
}

.modal{
    background-color : var(--card-bg);
}

.playlist-heading{
    color : var(--primary-color);
}

.modal-bord{
    border : 2px solid var(--primary-color);
}

.modal-close-icon-container{
    height : 25px;
    width : 25px;
    display: flex;
    flex-direction: row;
    justify-content : center;
    align-items : center;
    border-radius: 50%;
    background-color : var(--primary-color);
    color : var(--bg-color);
    cursor: pointer;
}

.add-new-playlist-btn{
    padding : 0.5rem;
    cursor: pointer;
    outline : none;
}