.searchbar-container{
    width : 100%;
}

.search-icon{
    font-size : 2rem;
    color : var(--primary-color);
}
.searchbar{
    padding : 0.8rem 1rem;
    background-color : var(--card-bg);
    flex-grow: 1;
    color : var(--primary-color);
    font-family: var(--component-heading-font);
    border-radius: 15px;
    outline : none;
    border : 2px solid var(--primary-color);
}

.icon-parent-container{
    padding : 0 1rem;
}