.chips-container {
  border: 3px solid var(--shoe-tube-black);
  padding : 0.5rem 0;
  background-color : var(--white-background);
}

.chips-position {
  position: sticky;
  top: 7rem;
}


.active {
  background-color: var(--shoe-tube-black);
  color : white !important;
}

.shoe-tube-chips{
  padding : 0.6rem 1.2rem;
  border : 3px solid var(--shoe-tube-black);
  color : var(--shoe-tube-black);
}

.shoe-tube-chips:hover{
  background-color : var(--shoe-tube-black-hover);
  color : var(--white-background);
}