.chip{
    padding : 0.5rem 1.5rem;
    border-radius: 20px;
    background-color: var(--card-bg);
}

.chip:hover{
    background-color : rgba(0, 0, 0, 0.221);
    outline : 2px solid var(--primary-color);
    box-sizing: border-box;
}
