:root{
  --white-background : #FDEFF4;
  --shoe-tube-black : rgba(0, 0, 0, 0.918);
  --shoe-tube-black-hover : rgba(0, 0, 0, 0.878);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-center-flex {
  justify-content: center;
}

.justify-space-between-flex {
  justify-content: space-between;
}

.align-center-flex {
  align-items: center;
}

.curs-point {
  cursor: pointer;
}

.margin-sides-auto {
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 26rem minmax(0, 1fr);
  grid-template-rows: 1fr;
}

.video-listing-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-row-gap: 4rem;
  padding: 4rem;
  /* border: 3px solid black; */
}

.img-resp {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.page-title-text{
  font-family : var(--component-heading-font);
  padding : 1rem;
}



.card-box-shadow {
  box-shadow: 0 3px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-box-shadow:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shoetube-input-box{
  padding : 0.5rem;
  border : 2px solid var(--shoe-tube-black);
  margin-bottom : 0.8rem;
}

.show-hide-toggle{
  margin-left : 0.5rem;
}