.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-center-flex {
  justify-content: center;
}

.justify-space-between-flex {
  justify-content: space-between;
}

.align-center-flex {
  align-items: center;
}

.curs-point {
  cursor: pointer;
}

.margin-sides-auto {
  margin: 0 auto;
}

.grid-container {
  display: grid;
  border: 3px solid yellow;
  grid-template-columns: 26rem minmax(0, 1fr);
  grid-template-rows: 1fr;
}

.video-listing-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-row-gap: 2rem;
  padding: 4rem;
  border: 3px solid black;
}
