.input-field-container{
    width : 30rem;
}

.input-field{
    padding : 0.5rem;
    outline : none;
    background-color : var(--bg-color);
    border : 2px solid var(--primary-color);
    color : var(--primary-color);
    font-family : var(--component-heading-font);
    border-radius: 10px;
}